@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
:where(html) {
  --font-face: 'Manrope', sans-serif;
}
