@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}
:where(html) {
  --font-face: 'Raleway', sans-serif;
}
