button {
  --padding: 0 calc(1rem * 1.5);
  --clr-background: var(--clr-gray-500);
  --clr-text: var(--clr-white);
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.5;
  --height: 2.5rem;
  --border: none;
  --border-radius: 6px;
  --outline: none;
  --cursor: pointer;
  --width: auto;
  --font-face: var(--font-family-body);
}

button {
  font-family: var(--font-face);
  align-items: center;
  justify-content: center;
  color: var(--clr-text);
  background-color: var(--clr-background);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  outline: var(--outline);
  cursor: var(--cursor);
  display: inline-flex;
  padding: var(--padding);
  width: var(--width);
  height: var(--height);
  transition: all 200ms;
  gap: 0.5rem;
}

:host-context([color-scheme='dark']) button {
  --clr-background: var(--clr-gray-300);
}

/* Variant */
button.primary {
  --clr-background: var(--clr-primary-500);
}
button.warning {
  --clr-background: var(--clr-warning-500);
}
button.danger {
  --clr-background: var(--clr-danger-500);
}
button.success {
  --clr-background: var(--clr-success-500);
}

/* Hover */

.button:hover {
  text-decoration: none;
}

button.default:hover {
  --clr-background: var(--clr-gray-600);
}

button.primary:hover {
  --clr-background: var(--clr-primary-600);
}

button.warning:hover {
  --clr-background: var(--clr-warning-600);
}

button.danger:hover {
  --clr-background: var(--clr-danger-600);
}

button.success:hover {
  --clr-background: var(--clr-success-600);
}

/* size */
button.small {
  --padding: 0 calc(1rem * 1.25);
  --height: 2.25rem;
}

button.large {
  --height: 2.75rem;
  --padding: 0 calc(1rem * 1.75);
}

button.full-width {
  --width: 100%;
}

/* loading */

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid var(--clr-white);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
