:where(button) {
  --padding: 0 calc(1rem * 1.5);
  --clr-background: var(--clr-gray-500);
  --clr-disabled: var(--clr-gray-200);
  --clr-text: var(--clr-white);
  --font-size: 1rem;
  --font-weight: 500;
  --line-height: 1.5;
  --height: 2.5rem;
  --border: none;
  --border-radius: 6px;
  --outline: none;
  --cursor: pointer;
  --width: auto;
  --font-face: var(--font-family-body);
  --position: relative;
}

button {
  font-family: var(--font-face);
  align-items: center;
  justify-content: center;
  color: var(--clr-text);
  background-color: var(--clr-background);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
  outline: var(--outline);
  cursor: var(--cursor);
  display: inline-flex;
  padding: var(--padding);
  width: var(--width);
  height: var(--height);
  position: var(--position);
  transition: all 200ms;
  gap: 0.5rem;
}

:host-context([color-scheme='dark']) button.default {
  --clr-background: var(--clr-gray-300);
}

button.primary {
  --clr-background: var(--clr-primary-500);
}

button.warning {
  --clr-background: var(--clr-warning-500);
}

button.destructive {
  --clr-background: var(--clr-destructive-500);
}

.button:hover {
  text-decoration: none;
}

button.default:hover {
  --clr-background: var(--clr-gray-700);
}

button.primary:hover {
  --clr-background: var(--clr-primary-700);
}

button.destructive:hover {
  --clr-background: var(--clr-destruction-700);
}

button.small {
  --padding: 0 calc(1rem * 1.25);
  --height: 2.25rem;
}

button.large {
  --height: 2.75rem;
  --padding: 0 calc(1rem * 1.75);
}

button.full-width {
  --width: 100%;
}

button:disabled {
  background-color: var(--clr-disabled);
  cursor: not-allowed;
}

button.primary:disabled {
  background-color: var(--clr-primary-300);
}

button.destructive:disabled {
  background-color: var(--clr-destructive-300);
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid var(--clr-white);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  position: absolute;
  transform: translate(50% - 50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
