:where(html) {
  --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  --ease-out-3: cubic-bezier(0, 0, 0.3, 1);
  --ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  --animation-scale-up: scale-up 0.5s var(--ease-3);
  --animation-scale-down: scale-down 0.5s var(--ease-3);
  --animation-slide-out-up: slide-out-up 0.5s var(--ease-3);
  --animation-slide-out-down: slide-out-down 0.5s var(--ease-3);
  --animation-slide-out-right: slide-out-right 0.5s var(--ease-3);
  --animation-slide-out-left: slide-out-left 0.5s var(--ease-3);
  --animation-slide-in-up: slide-in-up 0.5s var(--ease-3);
  --animation-slide-in-down: slide-in-down 0.5s var(--ease-3);
  --animation-slide-in-right: slide-in-right 0.5s var(--ease-3);
  --animation-slide-in-left: slide-in-left 0.5s var(--ease-3);
  --animation-shake-x: shake-x 0.75s var(--ease-out-5);
  --animation-shake-y: shake-y 0.75s var(--ease-out-5);
  --animation-shake-z: shake-z 1s var(--ease-in-out-3);
  --animation-spin: spin 0.6s linear infinite;
  --animation-blink: blink 1s var(--ease-out-3) infinite;
  --animation-pulse: pulse 2s var(--ease-out-3) infinite;
  --animation-float: float 3s var(--ease-in-out-3) infinite;
  --shiny-animation: shiny-animation 3s linear 0s infinite normal none running;
}

@keyframes shiny-animation {
  0% {
    background-position: 125% center, 0% center;
  }
  100% {
    background-position: -25% center, 0% center;
  }
}

@keyframes bg-fade-light {
  from {
    background-color: var(--surface-dark);
  }
  to {
    background-color: var(--surface-light);
  }
}

@keyframes bg-fade-dark {
  from {
    background-color: var(--surface-light);
  }
  to {
    background-color: var(--surface-dark);
  }
}

@keyframes scale-up {
  to {
    transform: scale(1.25);
  }
}
@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}
@keyframes slide-out-up {
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-out-down {
  to {
    transform: translateY(100%);
  }
}
@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}
@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
}
@keyframes shake-x {
  0%,
  100% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  60% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
}
@keyframes shake-y {
  0%,
  100% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
}
@keyframes shake-z {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(2deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes ping {
  90%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes float {
  50% {
    transform: translateY(-25%);
  }
}

@keyframes pulse {
  50% {
    transform: scale(0.9, 0.9);
  }
}

.shiny-text {
  position: relative;
  display: inline-block;
  white-space: pre-line;
  background-size: 200% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  will-change: background-position;
  contain: paint;
  color: transparent;
  background-image: linear-gradient(
      90deg,
      transparent calc(50% - 84px),
      rgba(255, 255, 255, 0.7) 50%,
      transparent calc(50% + 84px)
    ),
    linear-gradient(rgba(181, 181, 181, 0.643), rgba(181, 181, 181, 0.643));
  background-position: 125% center, 0% center;
  animation: var(--shiny-animation);
  opacity: 1;
  transition: opacity 200ms ease-out;
}
