:root {
  --clr-black: hsl(0 0% 0%);
  --clr-white: hsl(0 0% 100%);
}

:root {
  --clr-blue-025: hsl(225, 100%, 96%);
  --clr-blue-050: hsl(225, 100%, 93%);
  --clr-blue-075: hsl(227, 100%, 87%);
  --clr-blue-100: hsl(226, 100%, 78%);
  --clr-blue-200: hsl(226, 95%, 74%);
  --clr-blue-300: hsl(228, 94%, 67%);
  --clr-blue-400: hsl(227, 91%, 63%);
  --clr-blue-500: hsl(228, 79%, 57%);
  --clr-blue-600: hsl(230, 68%, 54%);
  --clr-blue-700: hsl(230, 69%, 48%);
  --clr-blue-800: hsl(231, 63%, 42%);
  --clr-blue-900: hsl(232, 56%, 36%);
  --clr-blue-950: hsl(232, 58%, 30%);

  --clr-gray-100: hsl(0, 0%, 95%);
  --clr-gray-200: hsl(0, 0%, 90%);
  --clr-gray-300: hsl(0, 0%, 80%);
  --clr-gray-400: hsl(0, 0%, 70%);
  --clr-gray-500: hsl(0, 0%, 60%);
  --clr-gray-600: hsl(0, 0%, 50%);
  --clr-gray-700: hsl(0, 0%, 40%);
  --clr-gray-800: hsl(0, 0%, 25%);
  --clr-gray-900: hsl(0, 0%, 12%);
  --clr-gray-950: hsl(0, 0%, 7%);

  --clr-primary-025: hsl(225, 100%, 96%);
  --clr-primary-050: hsl(225, 100%, 93%);
  --clr-primary-075: hsl(227, 100%, 87%);
  --clr-primary-100: hsl(226, 100%, 78%);
  --clr-primary-200: hsl(226, 95%, 74%);
  --clr-primary-300: hsl(228, 94%, 67%);
  --clr-primary-400: hsl(227, 91%, 63%);
  --clr-primary-500: hsl(228, 79%, 57%);
  --clr-primary-600: hsl(230, 68%, 54%);
  --clr-primary-700: hsl(230, 69%, 48%);
  --clr-primary-800: hsl(231, 63%, 42%);
  --clr-primary-900: hsl(232, 56%, 36%);
  --clr-primary-950: hsl(232, 58%, 30%);

  --clr-destructive-050: hsl(0 100% 97%);
  --clr-destructive-100: hsl(0 58% 96%);
  --clr-destructive-200: hsl(359 68% 87%);
  --clr-destructive-300: hsl(359 68% 75%);
  --clr-destructive-400: hsl(358 75% 59%);
  --clr-destructive-500: hsl(359 64% 51%);
  --clr-destructive-600: hsl(359 70% 44%);
  --clr-destructive-700: hsl(359 72% 36%);
  --clr-destructive-800: hsl(359 71% 26%);
  --clr-destructive-900: hsl(359 74% 19%);
  --clr-destructive-950: hsl(359 77% 13%);

  --clr-surface-dark-1: hsl(0, 0%, 10%);
  --clr-surface-dark-2: hsl(0, 0%, 16%);

  --clr-surface-light-1: var(--clr-white);
  --clr-surface-light-2: var(--clr-gray-100);
}

/* Theming styles */

:where(html)[color-scheme='dark']:root {
  --clr-surface-1: var(--clr-surface-dark-1);
  --clr-surface-2: var(--clr-surface-dark-2);

  --clr-text-1: var(--clr-white);
  --clr-text-2: var(--clr-gray-200);
}

:where(html)[color-scheme='light']:root {
  --clr-surface-1: var(--clr-surface-light-1);
  --clr-surface-2: var(--clr-surface-light-2);

  --clr-text-1: var(--clr-gray-950);
  --clr-text-2: var(--clr-gray-900);
}
