:where(:root) {
  --clr-black: hsl(0 0% 0%);
  --clr-white: hsl(0 0% 100%);
}

:where(:root) {
  --clr-brand-050: #f6f2fe;
  --clr-brand-100: #ece3fc;
  --clr-brand-200: #e2d4fa;
  --clr-brand-300: #d6c3f8;
  --clr-brand-400: #b28df3;
  --clr-brand-500: #9461ee;
  --clr-brand-600: #7533e9; /* primary */
  --clr-brand-700: #5215bd;
  --clr-brand-800: #300c6e;
  --clr-brand-900: #21084b;
  --clr-brand-950: #150531;

  /* --clr-neutral-050: #f8f9fa;
  --clr-neutral-100: #f1f3f5;
  --clr-neutral-200: #e5e7eb;
  --clr-neutral-300: #d1d5db;
  --clr-neutral-400: #9ca3af;
  --clr-neutral-500: #6b7280;
  --clr-neutral-600: #4b5563;
  --clr-neutral-700: #374151;
  --clr-neutral-800: #1f2937;
  --clr-neutral-900: #111827;
  --clr-neutral-950: #0d0f12; */

  --clr-neutral-050: hsl(210 17% 95%);
  --clr-neutral-050: hsl(210 16% 93%);
  --clr-neutral-100: hsl(210 14% 89%);
  --clr-neutral-200: hsl(210 14% 83%);
  --clr-neutral-300: hsl(210 11% 71%);
  --clr-neutral-400: hsl(210 7% 56%);
  --clr-neutral-500: hsl(210 9% 31%);
  --clr-neutral-600: hsl(210 10% 23%);
  --clr-neutral-700: hsl(210 11% 15%);
  --clr-neutral-800: hsl(214 14% 10%);
  --clr-neutral-900: hsl(216 16% 6%);
  --clr-neutral-950: hsl(210 40% 2%);

  --clr-destructive-050: #fff5f5;
  --clr-destructive-100: #fbeaea;
  --clr-destructive-200: #f5c6c7;
  --clr-destructive-300: #ed9a9d;
  --clr-destructive-400: #e5484d;
  --clr-destructive-500: #d13439; /* primary error */
  --clr-destructive-600: #c12025;
  --clr-destructive-700: #a11a1e;
  --clr-destructive-800: #7b1316;
  --clr-destructive-900: #5a0d0f;
  --clr-destructive-950: #38080a;
}
