:root {
  --clr-black: hsl(0 0% 0%);
  --clr-white: hsl(0 0% 100%);
}

:root {
  --clr-brand-050: #f6f2fe;
  --clr-brand-100: #ece3fc;
  --clr-brand-200: #e2d4fa;
  --clr-brand-300: #d6c3f8;
  --clr-brand-400: #b28df3;
  --clr-brand-500: #9461ee;
  --clr-brand-600: #7533e9;
  --clr-brand-700: #5215bd;
  --clr-brand-800: #300c6e;
  --clr-brand-900: #21084b;
  --clr-brand-950: #150531;

  --clr-neutral-050: hsl(210 17% 98%);
  --clr-neutral-100: hsl(210 17% 95%);
  --clr-neutral-200: hsl(210 16% 93%);
  --clr-neutral-300: hsl(210 14% 89%);
  --clr-neutral-400: hsl(210 14% 83%);
  --clr-neutral-500: hsl(210 11% 71%);
  --clr-neutral-600: hsl(210 7% 56%);
  --clr-neutral-700: hsl(210 9% 31%);
  --clr-neutral-800: hsl(210 10% 23%);
  --clr-neutral-900: hsl(210 11% 15%);
  --clr-neutral-950: hsl(214 14% 10%);

  --clr-stone-050: hsl(200 27% 98%);
  --clr-stone-100: hsl(210 18% 96%);
  --clr-stone-200: hsl(210 11% 93%);
  --clr-stone-300: hsl(192 9% 89%);
  --clr-stone-400: hsl(197 8% 83%);
  --clr-stone-500: hsl(202 5% 71%);
  --clr-stone-600: hsl(180 2% 50%);
  --clr-stone-700: hsl(160 1% 41%);
  --clr-stone-800: hsl(60 3% 22%);
  --clr-stone-900: hsl(60 6% 14%);
  --clr-stone-950: hsl(60 6% 7%);

  --clr-destructive-050: hsl(0 100% 97%);
  --clr-destructive-100: hsl(0 58% 96%);
  --clr-destructive-200: hsl(359 68% 87%);
  --clr-destructive-300: hsl(359 68% 75%);
  --clr-destructive-400: hsl(358 75% 59%);
  --clr-destructive-500: hsl(359 64% 51%);
  --clr-destructive-600: hsl(359 70% 44%);
  --clr-destructive-700: hsl(359 72% 36%);
  --clr-destructive-800: hsl(359 71% 26%);
  --clr-destructive-900: hsl(359 74% 19%);
  --clr-destructive-950: hsl(359 77% 13%);
}
