h1 {
  --font-size: 1.875rem;
  --line-height: 2.25rem;
  --font-weight: 700;
  --margin: 0 0 0.5rem 0;
}

h2 {
  --font-size: 1.5rem;
  --line-height: 2rem;
  --font-weight: 700;
  --margin: 0 0 0.5rem 0;
}

h3 {
  --font-size: 1.25rem;
  --line-height: 1.75rem;
  --font-weight: 700;
  --margin: 0 0 0.5rem 0;
}

h4 {
  --font-size: 1.125rem;
  --line-height: 1.75rem;
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
}

h5 {
  --font-size: 1rem;
  --line-height: 1.5;
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
}

h6 {
  --font-size: 0.875rem;
  --line-height: 1.25;
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
}

@media (min-width: 768px) {
  :root {
    h1 {
      --font-size: 2.25rem;
      --line-height: 2.75rem;
    }

    h2 {
      --font-size: 1.875rem;
      --line-height: 2.25rem;
    }

    h3 {
      --font-size: 1.5rem;
      --line-height: 2rem;
    }

    h4 {
      --font-size: 1.25rem;
      --line-height: 1.75rem;
    }

    h5 {
      --font-size: 1.125rem;
      --line-height: 1.5;
    }

    h6 {
      --font-size: 1rem;
      --line-height: 1.5;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: var(--margin);
  font-family: var(--font-family);
}

p {
  --font-size: 1rem;
  --font-weight: 400;
  --line-height: 1.4;
  --margin: 0 0 1rem 0;
}

p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: var(--margin);
  font-family: var(--font-family);
}
