.switch {
  width: 50px;
  height: 25px;
  background-color: var(--surface-1-color, red);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: var(--surface-1-color, #6200ea);
  }

  .switch-knob {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;

    .switch.active & {
      transform: translateX(25px);
    }
  }
}
