<div class="input-group">
  <label for="{{ name }}">
    {{ label || name }}
    @if (required) {
    <span>*</span>
    }
  </label>
  <div class="input-container">
    <input
      [id]="name"
      [name]="name"
      [type]="isPasswordVisible ? 'text' : type"
      [autocomplete]="autocomplete"
      [required]="required"
      (input)="onInputChange($event)"
      placeholder="{{ placeholder }}"
      [disabled]="isDisabled"
      [class.invalid]="control?.invalid && control?.touched"
    />
    <button
      *ngIf="type === 'password'"
      (click)="togglePasswordVisibility()"
      class="toggle"
      aria-label="Toggle password visibility"
      type="button"
    >
      <img
        [src]="
          isPasswordVisible
            ? 'assets/icons/eye-on.svg'
            : 'assets/icons/eye-off.svg'
        "
        alt="Toggle icon"
      />
    </button>
  </div>
  <div class="feedback">
    @if (control?.invalid && !control?.untouched) {
    @if(control?.hasError('required')) {
    <span class="danger">
      {{ "Please fill this field." }}
    </span>
    } @else if (control?.hasError('email')) {
    <span class="danger">
      {{ "Please enter a valid email address." }}
    </span>
    } @else if (control?.hasError('hasNumber')) {
    <span class="danger">
      {{ "Numeric character is not allowed. " }}
    </span>
    } }
  </div>
</div>
