.sidebar {
  position: fixed;
  max-height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-block: 1rem;
  background-color: var(--clr-surface-2);
}

/* nav {
  flex-grow: 1;
} */
.theming {
  display: flex;
  align-items: end;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

a {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  text-decoration: none;
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

a.active {
  background-color: var(--color-primary);
}

a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
