<app-container [fullHeight]="false">
  <img src="assets/images/brand/brand-logo.svg" />
  <h1 class="primary mb-3">
    {{ "Create Password" }}
  </h1>
  <p>
    {{ "Please set a strong password." }}
  </p>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      [formControlName]="'password'"
      [control]="form.get('password')"
      [type]="'password'"
      [name]="'password'"
      [label]="'Your password'"
      [isDisabled]="loading"
      icon="eye"
    ></app-input>

    <app-password-validation
      [control]="form.get('password')"
    ></app-password-validation>

    <app-button
      [isDisabled]="form.invalid"
      [loading]="loading"
      [label]="'Create Password'"
      color="secondary"
    ></app-button>
  </form>
</app-container>
