:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
app-container {
  min-width: 25rem;
  border: 1.5px solid rgb(218, 220, 224);
  border-radius: 16px;
  padding: 48px 40px 36px;
  width: 370px;
}
