:host-context([color-scheme='light']) #sun {
  transform: scale(0.5);
}

:host-context([color-scheme='light']) #sun-dots {
  transform: rotate(0.25turn);
  --_opacity-dur: 0.5s;
}

:host-context([color-scheme='dark']) #moon > circle {
  transform: translate(-20px);
}

:host-context([color-scheme='dark']) #sun-dots {
  opacity: 0;
}

#sun {
  transition: transform 0.5s var(--ease-4);
  transform-origin: center center;
}

#sun-dots {
  --_opacity-dur: 0.15s;
  stroke: var(--clr-text);
  stroke-width: 2px;
  transform-origin: center center;
  transition: transform 0.5s var(--ease-elastic-out-4), opacity var(--_opacity-dur) var(--ease-3);
}

#moon,
#sun {
  fill: var(--clr-text);
  stroke: none;
}

#moon > circle {
  transition: transform 0.5s var(--ease-out-3);
}

button {
  border: none;
  background-color: transparent;
  fill: none;
  stroke: none;
  :hover {
    cursor: pointer;
  }
}
