:host {
  display: block;
}

input,
label {
  --line-height: 1;
  font-family: var(--font-face);
}

:host-context([color-scheme='light']) input {
  --clr-background: hsla(0, 0%, 100%, 0.2);
  --border: 1px solid rgba(31, 34, 41, 0.1);
  --color: var(--clr-text-1);
  --clr-background-invalid: var(--clr-destructive-050);
  --clr-border-invalid: var(--clr-destructive-500);
}

:host-context([color-scheme='light']) label {
  --color: var(--clr-gray-700);
}

:host-context([color-scheme='dark']) input {
  --clr-background: hsla(0, 0%, 100%, 0.1);
  --border: 1px solid hsla(0, 0%, 100%, 0.2);
  --color: var(--clr-white);
  --clr-background-invalid: hsla(359, 71%, 26%, 0.2);
  --clr-border-invalid: var(--clr-destructive-500);
}

:host-context([color-scheme='dark']) label {
  --color: var(--clr-gray-300);
}

input {
  --width: 100%;
  --height: 3rem;
  --font-size: 1rem;
  --padding: 0.75rem;
  --font-weight: 600;
  --outline: none;
  --border-radius: 0.625rem;
  --box-shadow: none;
}

input {
  width: var(--width);
  height: var(--height);
  font-size: var(--font-size);
  padding: var(--padding);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--clr-background);
  outline: var(--outline);
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--color);
  box-shadow: var(--box-shadow);
}

input:focus,
input:not(:placeholder-shown) {
  padding-top: calc(0.375rem + 0.75rem + 0.5rem);
}

input:focus:not(.invalid) {
  --border: 1px solid var(--clr-primary-400);
}

input:focus.invalid,
input.invalid:not(:placeholder-shown),
input.invalid {
  --clr-background: var(--clr-background-invalid);
  --border: 1px solid var(--clr-border-invalid);
}

label {
  line-height: var(--line-height);
  color: var(--color);
  font-weight: var(--font-weight);
  position: absolute;
  left: 0.75rem;
  top: calc(1rem);
  font-size: 0.875rem;
  pointer-events: none;
  transition: transform 0.18s cubic-bezier(0.2, 0.8, 0.2, 1), top 0.18s, font-size 0.18s,
    color 0.18s;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0.375rem;
  left: 0.75rem;
  transform: translateY(0);
  font-size: 12px;
}

/* input.small {
  --height: 2.75rem;
  --font-size: 0.875rem;
}

input.medium {
  --height: 2.75rem;
  --font-size: 0.875rem;
}

input.large {
  --height: 3.25rem;
  --font-size: 1rem;
} */
