.form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  margin-bottom: 0.25rem;
  color: var(--clr-neutral-500);
}

input {
  --height: 4rem;
  --radius: 0.5rem;
  --box-shadow: none;
  --font-weight: 400;
  --line-height: inherit;
  --font-size: 1.25rem;
  --clr-text: var(--clr-control-text);
  --padding: 0.375rem 0.75rem;
  --transition: all 200ms ease;
  --border: 1px solid var(--clr-neutral-900);
  --clr-bg: var(--clr-surface-1);
  --box-shadow-focus: 0 0 0 3px rgba(114 38 245 / 0.2);
  --box-shadow-invalid-focus: 0 0 0 3px rgba(255, 8, 20, 0.2);
}

input {
  color: var(--clr-input-text);
  height: var(--height);
  padding: var(--padding);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--clr-bg);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  border-radius: var(--radius);
  border: var(--border);
  width: 100%;
  font-family: var(--font-face) !important;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
*/ input {
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  border-style: solid;
  padding: 0.25rem 0.75rem;
  cursor: unset;
  background-color: var(--clr-neutral-100);
  border-color: var(--clr-neutral-500);
  border-width: 1px;
  border-radius: 0.375rem;
  box-shadow: none;
  transition: box-shadow 200ms;
}

input.invalid {
  border-color: var(--clr-danger);
  box-shadow: var(--box-shadow-invalid-focus);
}

input:focus:not(.invalid) {
  box-shadow: var(--box-shadow-focus);
  border-color: var(--clr-primary);
}

input + span {
  --fs-placeholder: 1rem;
  --fw-placeholder: 400;

  top: 50%;
  left: 0.75rem;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: var(--fs-placeholder);
  font-weight: var(--fw-placeholder);
  color: var(--clr-control-placeholder);
}

input:focus + span,
input:not(:placeholder-shown) + span {
  top: 0;
  font-size: 0;
  opacity: 0;
}
