.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}

input {
  --width: 100%;
  --height: 3rem;
  --font-size: 1rem;
  --font-weight: 500;
  --line-height: 1.5;
  --clr-text: var(--clr-text-2);
  --clr-background: hsla(0, 0%, 100%, 0.8);
  --outline: none;
  --cursor: text;
  --padding: 0.5rem;
  --box-shadow: none;
  --transition: border-color 0.2s ease, box-shadow 0.2s ease;
  --border: 1px solid #86868b;
  --radius: 0.625rem;
}

input {
  position: var(--position);
  width: var(--width);
  height: var(--height);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--clr-text);
  background-color: var(--clr-background);
  outline: var(--outline);
  cursor: var(--cursor);
  padding: var(--padding);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  border: var(--border);
  border-radius: var(--radius);
}

/* label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
} */

/* input + label {
  --fs-placeholder: 1rem;
  --fw-placeholder: 400;

  top: 50%;
  left: 0.75rem;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: var(--fs-placeholder);
  font-weight: var(--fw-placeholder);
  color: var(--clr-control-placeholder);
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0;
  opacity: 0;
} */
