.sidebar {
  --height: 100%;
  --width: 15rem;
  --clr-bg: var(--clr-surface-1);
  --padding: 1.5rem;
}

.sidebar {
  height: var(--height);
  width: var(--width);
  background-color: var(--clr-bg);
  padding: var(--padding);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* nav {
  flex-grow: 1;
} */
.theming {
  display: flex;
  align-items: end;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

a {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  text-decoration: none;
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

a.active {
  background-color: var(--color-primary);
}

a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
