/* :host {
  display: block;
  min-height: 100vh;
  background: none;
  position: static;
} */

.app-main {
  display: grid;
  height: 100vh;
  grid-template-columns: var(--side-bar-width) 1fr;
  grid-template-areas: 'app-side-bar main';
}
