.box {
  --clr-background: var(--clr-surface-1);
  --border: none;
  --border-radius: 0;
  --width: 100%;
  --max-width: unset;
  --box-shadow: none;
  --max-width: 360px;
  --padding-inline: var(--space-4);
  --padding-block: var(--space-6);
}

.box {
  background-color: var(--clr-background);
  border-radius: var(--border-radius);
  border: var(--border);
  width: var(--width);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
}

@media (min-width: 768px) {
  .box {
    --max-width: calc(var(--bp-mobile-small) - 84px);
  }
}

:host {
  display: block;
  margin: var(--app-input-margin);
}

app-input {
  margin-bottom: var(--space-4);
}
