nav {
  --clr-background: rgb(244 246 247);
  --radius: 0.5rem;
  --gap: 0;
}
nav {
  background: var(--clr-background);
  border-radius: var(--radius);
  padding: var(--padding);
  gap: var(--gap);

  position: relative;
  /* justify-self: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  --clr-background: transparent;
  --clr-text: rgb(99 93 117);
  --radius: 0.5rem;
  --padding: 0.5rem 0.75rem;
  --font-size: 1.125rem;
  --line-height: 1.5;
  --font-weight: 500;
  --transition: all 0.2s;
  --width: 75px;
  --z-index: 2;
}

nav a {
  color: var(--clr-text);
  background: var(--clr-background);
  border-radius: var(--radius);
  font-size: var(--font-size);
  padding: var(--padding);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  text-decoration: none;
  transition: var(--transition);
  z-index: var(--z-index, 2);
  text-align: center;
  width: 100%;
  text-transform: capitalize !important;
}

nav a:hover {
}
nav a.active {
  --clr-text: var(--clr-white);
  /* --clr-background: var(--clr-primary); */
}

.slider {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(100% / 3 - 8px);
  border-radius: 0.5rem;
  background: var(--clr-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: left 0.35s cubic-bezier(0.25, 1, 0.3, 1);
  z-index: 1;
}
