<section style="display: grid; gap: 1rem">
  <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem">
    <h3>{{ "Variant" }}</h3>
    <div style="display: flex; gap: 1rem">
      <app-button [size]="'x-small'">button</app-button>
      <app-button [variant]="'success'" [size]="'small'">Success</app-button>
      <app-button [variant]="'warning'">Warning</app-button>
      <app-button [variant]="'primary'" [size]="'large'">Primary</app-button>
    </div>
  </div>
  <div style="display: flex; gap: 1rem; flex-direction: column">
    <ng-container *ngTemplateOutlet="buttonPrimaryTpl"></ng-container>
    <ng-container *ngTemplateOutlet="buttonVariantTpl"></ng-container>
  </div>
</section>

<ng-template #buttonPrimaryTpl>
  <pre class="language-html">
<code class="code-html">
<span class="element">&lt;app-button</span>  <span class="attribute">[variant]=</span><span class="value">'primary'</span><span class="element">&gt;</span>
    {{ "primary" }}
<span class="element">&lt;app-button&gt;</span>
</code>
</pre>
</ng-template>

<ng-template #buttonVariantTpl>
  <pre class="language-html" style="text-align: left">
<code>
<span class="attribute">[size]=</span><span class="value">"default" | "small" | "large" = "default"</span>
<span class="attribute">[loading]=</span><span class="value">true | false</span>
<span class="attribute">[block]=</span><span class="value">true | false</span>
<span class="attribute">[variant]=</span><span class="value">"default" | "primary" | "warning" | "danger" | "success" = "default"</span>
</code>
</pre>
</ng-template>
