:where(html) {
  --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  --ease-out-3: cubic-bezier(0, 0, 0.3, 1);
  --ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
}

@keyframes bg-fade-light {
  from {
    background-color: var(--surface-dark);
  }
  to {
    background-color: var(--surface-light);
  }
}

@keyframes bg-fade-dark {
  from {
    background-color: var(--surface-light);
  }
  to {
    background-color: var(--surface-dark);
  }
}
