@font-face {
  font-family: 'Montserrat';
  src: url('public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Manrope';
  src: url('public/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Raleway';
  src: url('public/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: 'Nunito';
  src: url('public/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}
