@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
    format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-style: normal;

  /* Roboto genellikle 100'den 900'e kadar tüm ağırlıkları destekler. */
  font-weight: 100 900;
}

/* @font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}
 */
/* @font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 100 900;
} */
