:root {
  --clr-black: hsl(0 0% 0%);
  --clr-white: hsl(0 0% 100%);

  --clr-primary-400: hsl(262, 80%, 60%);
  --clr-primary-500: hsl(262, 80%, 50%);
  --clr-primary-600: hsl(262, 80%, 40%);

  --clr-gray-400: hsl(0, 0%, 30%);
  --clr-gray-500: hsl(0, 0%, 20%);
  --clr-gray-600: hsl(0, 0%, 10%);

  --clr-danger-400: hsl(356, 90%, 55%);
  --clr-danger-500: hsl(356, 90%, 50%);
  --clr-danger-600: hsl(356, 90%, 45%);

  --clr-success-400: hsl(88, 50%, 55%);
  --clr-success-500: hsl(88, 50%, 50%);
  --clr-success-600: hsl(88, 50%, 45%);

  --clr-warning-400: hsl(30, 90%, 55%);
  --clr-warning-500: hsl(30, 90%, 50%);
  --clr-warning-600: hsl(30, 90%, 45%);
}

:where(html) {
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;
}
