:root {
  --font-family-header: 'Roboto', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
}

h1 {
  --font-weight: 900;
  --margin: 0 0 1.5rem 0;
  --font-size: 2.8rem;
  --line-height: 1.1;
}

h2 {
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
  --font-size: 1.5rem;
}

h3 {
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
  --font-size: 1.25rem;
}

h4 {
  --font-weight: 600;
  --line-height: 1.5;
  --margin: 0 0 0.5rem 0;
  --font-size: 1.125rem;
}

h5 {
  --font-weight: 600;
  --line-height: 1.5;
  --margin: 0 0 0.5rem 0;
  --font-size: 1rem;
}

h6 {
  --line-height: 1.5;
  --font-weight: 600;
  --margin: 0 0 0.5rem 0;
  --font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: var(--margin);
  font-family: var(--font-family-header);
}

p {
  --font-size: 1.1rem;
  --font-weight: 400;
  --line-height: 1.6;
  --margin: 0 0 1rem 0;
}

p {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: var(--margin);
  font-family: var(--font-family-body);
}
