<div>
  <h4>
    {{ "To make your password more secure" }}
  </h4>
  <ul>
    <li
      [class.valid]="
        control &&
        !control.hasError('minLength') &&
        !control.hasError('maxLength')
      "
    >
      {{ "8 to 50 characters" }}
    </li>
    <li [class.valid]="control && !control.hasError('noDigitLetter')">
      {{ "Use letters and numbers" }}
    </li>
    <li
      [class.valid]="
        control &&
        !control.hasError('noLowercase') &&
        !control.hasError('noUppercase')
      "
    >
      {{ "Mix lower and uppercase" }}
    </li>
    <li [class.valid]="control && !control.hasError('noSymbol')">
      {{ "Use special characters (e.g., @)" }}
    </li>
  </ul>
</div>
