.feedback {
  --min-height: 1.25rem;
  --gap: 0.25rem;
  --font-weight: 400;
  --color: #635d75;
  --font-size: calc(1rem * 0.75);
  --margin-top: 0.25rem;
  --line-height: 20px;
}

.feedback {
  gap: var(--gap);
  font-weight: var(--font-weight);
  color: var(--color);
  font-size: var(--font-size);
  margin-top: var(--margin-top);
  line-height: var(--line-height);
  min-height: var(--min-height);

  display: flex;
  align-items: center;
}

.feedback.invalid {
  color: var(--clr-danger);
}
