.feedback {
  --font-weight: 400;
  --color: var(--clr-destructive-400);
  --font-size: calc(1rem * 0.75);
  --margin-top: 0.125rem;
  --line-height: 20px;
}

.feedback {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight);
  color: var(--color);
  font-size: var(--font-size);
  margin-top: var(--margin-top);
  line-height: var(--line-height);
}
