.box {
  --clr-background: var(--clr-surface-1);
  --border: none;
  --border-radius: 0;
  --width: 100%;
  --max-width: unset;
  --box-shadow: none;
  --max-width: 320px;
  --padding-inline: var(--space-4);
  --padding-block: var(--space-6);
}

.box {
  background-color: var(--clr-background);
  border-radius: var(--border-radius);
  border: var(--border);
  width: var(--width);
  max-width: var(--max-width);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
}

@media (min-width: 768px) {
  .box {
    --max-width: var(--bp-mobile-small);
    --border-radius: 2rem;
    --clr-background: var(--clr-surface-2);
  }
}
