.card {
  --clr-bg: var(--clr-surface-2);
  --border: none;
  --border-radius: 0;
  --box-shadow: none;
  --padding: 1rem;
  --box-shadow: none;
}

.card {
  background-color: var(--clr-bg);
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
}

@media (min-width: 768px) {
  .card {
    max-width: 360px;
    --border-radius: 1rem;
    --box-shadow: var(--shadow-2);
  }
}
