<section>
  <h2>Sign In Page to Admin UI</h2>
  <p style="margin-bottom: 2rem">Welcome back! Please enter your details</p>
  <form [formGroup]="form">
    <app-input
      label="Email"
      type="email"
      formControlName="email"
      placeholder="Enter your email"
    ></app-input>

    <app-input
      label="Password"
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    ></app-input>

    <app-button [isDisabled]="form.invalid" [size]="'small'" [variant]="'primary'"
      >Sign In</app-button
    >
  </form>
</section>
