@import url('./assets/styles/index.css');

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  min-width: 100vw;
  min-height: 100vh;
  font-size: var(--fs-base);
  color: var(--clr-text-2);
  font-family: var(--font-face);
  background-color: var(--clr-surface-1);
  transition: background-color 0.25s var(--ease-3);
  z-index: 0;
}
p {
  color: var(--clr-text-2);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

/* @media (min-width: 768px) {
  [color-scheme='light'] {
    --clr-surface-1-light: var(--clr-neutral-100);
    --clr-surface-2-light: var(--clr-neutral-050);
    --clr-surface-3-light: var(--clr-neutral-200);
  }
  [color-scheme='dark'] {
    --clr-surface-1-dark: var(--clr-surface-dark-900);
    --clr-surface-2-dark: var(--clr-surface-dark-800);
    --clr-surface-3-dark: var(--clr-surface-dark-700);
  }
} */
