@import url('./assets/styles/index.css');

html,
body,
app-root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  min-width: 100vw;
  min-height: 100vh;
  font-size: var(--fs-base);
  color: var(--clr-text-2);
  font-family: var(--font-face);
  background-color: var(--clr-surface-1);
  z-index: 0;
}
