@import url('./assets/styles/index.css');

html {
  --font-face: 'Manrope', sans-serif;

  --text-light: var(--clr-gray-7);
  --surface-light: var(--clr-gray-0);

  --text-dark: var(--clr-gray-3);
  --surface-dark: var(--clr-gray-12);

  --brand-color: var(--clr-primary-500);
}

[color-scheme='light'] {
  color-scheme: light;
  --clr-text: var(--text-light);
  --clr-surface: var(--surface-light);
  animation: bg-fade-light 0.25s var(--ease-3) both;
}

[color-scheme='dark'] {
  color-scheme: dark;
  --clr-text: var(--text-dark);
  --clr-surface: var(--surface-dark);
  animation: bg-fade-dark 0.25s var(--ease-3) both;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.5;
}

/*Theme Toggle*/
