@import url('./assets/styles/index.css');

html {
  --font-face: 'Raleway', sans-serif;
  --clr-text-body-light: var(--clr-neutral-800);
  --clr-text-title-light: var(--clr-neutral-900);
  --clr-surface-light: var(--clr-neutral-050);

  --clr-text-body-dark: var(--clr-neutral-300);
  --clr-text-title-dark: var(--clr-neutral-100);
  --clr-surface-dark: var(--clr-neutral-950);

  --brand-color: var(--clr-brand-600);
}

[color-scheme='light'] {
  color-scheme: light;
  --clr-text: var(--clr-text-body-light);
  --clr-text-title: var(--clr-text-title-light);
  --clr-surface: var(--clr-surface-light);
  animation: bg-fade-light 0.25s var(--ease-3) both;
}

[color-scheme='dark'] {
  color-scheme: dark;
  --clr-text: var(--clr-text-body-dark);
  --clr-text-title: var(--clr-text-title-dark);
  --clr-surface: var(--clr-surface-dark);
  animation: bg-fade-dark 0.25s var(--ease-3) both;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.5;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-face);
  background-color: var(--clr-surface);
  color: var(--clr-text);
  transition: background-color 0.25s var(--ease-3), color 0.25s var(--ease-3);
}

/*Theme Toggle*/
