@import url('public/styles/fonts.css');
@import url('public/styles/reset.css');
@import url('public/styles/props.css');
@import url('public/styles/typography.css');
@import url('public/styles/helper.css');

:where(html) {
  --fs-base: 1rem;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.5;
}
