@import url('./assets/styles/index.css');

html {
  --font-face: 'Raleway', sans-serif;
  --clr-text-body-light: var(--clr-neutral-800);
  --clr-text-title-light: var(--clr-neutral-900);
  --clr-surface-1-light: var(--clr-slate-100);
  --clr-surface-2-light: var(--clr-white);
  --clr-box-shadow-light: 0 0% 96.1%;

  --clr-text-body-dark: var(--clr-neutral-300);
  --clr-text-title-dark: var(--clr-neutral-100);
  --clr-surface-1-dark: var(--clr-neutral-800);
  --clr-surface-2-dark: var(--clr-neutral-700);
  --clr-box-shadow-dark: 0 0% 63%;
}

[color-scheme='light'] {
  color-scheme: light;
  --clr-text: var(--clr-text-body-light);
  --clr-text-title: var(--clr-text-title-light);
  --clr-surface-1: var(--clr-surface-1-light);
  --clr-surface-2: var(--clr-surface-2-light);
  --clr-box-shadow: var(--clr-box-shadow-light);
}

[color-scheme='dark'] {
  color-scheme: dark;
  --clr-text: var(--clr-text-body-dark);
  --clr-text-title: var(--clr-text-title-dark);
  --clr-surface-1: var(--clr-surface-1-dark);
  --clr-surface-2: var(--clr-surface-2-dark);
  --clr-box-shadow: var(--clr-box-shadow-dark);
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.5;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-face);
  background-color: var(--clr-surface-1);
  color: var(--clr-text);
  transition: background-color 0.25s var(--ease-3), color 0.25s var(--ease-3);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
