@import url('./assets/styles/index.css');

html {
  --font-face: 'Raleway', sans-serif;

  --clr-text-1-light: var(--clr-neutral-950);
  --clr-text-2-light: var(--clr-neutral-900);
  --clr-text-3-light: var(--clr-neutral-800);
  --clr-surface-1-light: var(--clr-neutral-050);
  --clr-surface-2-light: var(--clr-neutral-100);
  --clr-surface-3-light: var(--clr-neutral-200);

  --clr-text-1-dark: var(--clr-neutral-050);
  --clr-text-2-dark: var(--clr-neutral-100);
  --clr-text-3-dark: var(--clr-neutral-200);
  --clr-surface-1-dark: var(--clr-surface-dark-900);
  --clr-surface-2-dark: var(--clr-surface-dark-800);
  --clr-surface-3-dark: var(--clr-surface-dark-700);

  --input-border-radius: 0.375rem;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.5;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-face);
  background-color: var(--clr-surface-1);
  transition: background-color 0.25s var(--ease-3);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

@media (min-width: 768px) {
  [color-scheme='light'] {
    --clr-surface-1-light: var(--clr-neutral-100);
    --clr-surface-2-light: var(--clr-neutral-050);
    --clr-surface-3-light: var(--clr-neutral-200);
  }
  [color-scheme='dark'] {
    --clr-surface-1-dark: var(--clr-surface-dark-900);
    --clr-surface-2-dark: var(--clr-surface-dark-800);
    --clr-surface-3-dark: var(--clr-surface-dark-700);
  }
}
