<app-container [fullHeight]="true">
  <div style="display: grid; place-content: center">
    <h2>
      {{ "Authenticate Your Account" }}
    </h2>
    <p>
      Protecting your account is our top priority. Please confirm your account
      by entering the authorisation code sent to
    </p>
    <span>+44*******432</span>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-pin-input [formControlName]="'mfa_code'"></app-pin-input>
      <app-button [loading]="false">{{ "Verify" }}</app-button>
    </form>
  </div>
</app-container>
