html {
  --font-face: "Manrope", sans-serif;

  --text-color-light-1: #0f4e7e;
  --text-color-light-2: #78829d;

  --text-color-dark-1: #ffffff;
  --text-color-dark-2: #f1f3f5;

  --surface-color-light-1: #ffffff;
  --surface-color-light-2: #ced4da;

  --surface-color-dark-1: #0e0f0c;
  --surface-color-dark-2: #22262f;

  --white: #ffffff;
  --danger-color: #ea2127;

  --primary-color: #0f4e7e;
  --primary-color-hover: #064474;

  --secondary-color: #ea2127;
  --secondary-color-hover: #e5161d;
}

[color-scheme="light"] {
  color-scheme: light;
  --text-color-1: var(--text-color-light-1);
  --text-color-2: var(--text-color-light-2);

  --surface-color-1: var(--surface-color-light-1);
  --surface-color-2: var(--surface-color-light-2);
}

[color-scheme="dark"] {
  color-scheme: dark;
  --text-color-1: var(--text-color-dark-1);
  --text-color-2: var(--text-color-dark-2);

  --surface-color-1: var(--surface-color-dark-1);
  --surface-color-2: var(--surface-color-dark-2);
}

[color-scheme="dim"] {
  color-scheme: dim;
  --text-color-1: yellow;
  --text-color-2: rgb(155, 155, 67);

  --surface-color-1: rgb(133, 27, 27);
  --surface-color-2: rgb(58, 41, 41);
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-1);
  font-size: var(--fs-base);
  font-weight: var(--fw-400);
  font-family: var(--font-face);
  background-color: var(--surface-color-1);
  line-height: 1.5;
}
